body {
  background: url("pictures/1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  }
h1 {
  color: solid black;
  font-family: Courier;
  text-decoration: underline;
  }
h5 {
  text-align: left;
  font-family: Courier;
  color: white;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-family: Courier;
  }
ul {
  padding: 10px;
    }
.box {
  overflow: scroll;
  background-color: rgba(255,255,255,0.8);
  max-width: 1200px;
  margin: 0 auto;
  height: 640px;
  border: 5px solid white;
  margin-top: 3%;
  }
p {
  font-family: Courier;
  text-align: center;
  padding-top: 20px;
  max-width: 1050px;
  margin: 0 auto;
  }
.buttons {
  display: inline;
  margin: 0 auto;
  max-width: 200px
  }
.mybutton {
  display: table;
  margin: 0 auto
  padding: 0px 10px 0px 10px;
  font-family: Courier;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Courier;
  padding: 0px 10px 0px 10px;
  }
.carousel-inner {
  margin: 0 auto;
  max-height: 250px;
  max-width: 1050px;
  padding-top: 10px;
}
.card {
  border: 5px solid white;
}
h4 {
  color: black;
  font-family: Courier;
  text-align: center;
}
.card-deck {
  max-width: 1100px;
  margin: 20px auto;
}
